# Plantilla de variables de entorno
# Renombra este archivo a .env.development o .env.production y coloca las URLs correctas

EXPO_PUBLIC_API_URL=https://qf5k9fspl0.execute-api.us-east-1.amazonaws.com/default
EXPO_PUBLIC_BALANCE_API_URL=https://2k0ic4z7s5.execute-api.us-east-1.amazonaws.com/default
EXPO_PUBLIC_TRANSFER_API_URL=https://ofqx4zxgcf.execute-api.us-east-1.amazonaws.com/default